body {
  overflow-y: scroll;
  background-color: #e9ebf0;
  height: 100%;
}

.mainContent {
  position: relative;
  white-space: nowrap;
}

.App {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
  width: 100%;
}

footer a {
  margin-right: 15px;
}

footer h6 {
  margin-top: 5px;
}
